.about {
  background-color: var(--color-light);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 26px;

    @include big-desktop {
      flex-direction: column;
      padding: 0;
    }
  }
  &__image {
    position: relative;
    margin-right: 70px;
    margin-bottom: 40px;

    @include big-desktop {
      margin: 0 auto 40px;
    }
    @include mini-mobile {
      width: 100%;
      margin-bottom: 25px;
    }
  }
  &__img-background {
    width: 446px;
    height: 440px;
    background-color: var(--color-accent);

    @include small-tablet {
      width: 300px;
      height: 300px;
    }
    @include mini-mobile {
      width: calc(100% - 25px);
      height: 250px;
    }
  }
  &__img {
    position: absolute;
    top: 40px;
    left: 70px;
    z-index: 5;

    @include mobile {
      top: 25px;
      left: 25px;
    }
    @include mini-mobile {
      width: calc(100% - 25px);
      height: 250px;
    }
  }
  &__info {
    max-width: 516px;

    @include big-desktop {
      max-width: none;
      width: 80%;
      order: -1;
      text-align: center;
      margin: 0 auto 30px;
    }
    @include small-tablet {
      width: 100%;
    }
  }
  &__label {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-accent);
    margin-bottom: 12px;

    @include mobile {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
  &__title {
    margin-bottom: 24px;

    @include mobile {
      margin-bottom: 15px;
    }
  }
  &__descr {
    margin-bottom: 16px;

    @include mobile {
      margin-bottom: 20px;
    }
  }
  &__inscription {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: var(--color-text);
    margin-bottom: 36px;

    @include mobile {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
  &__link {
    display: inline-block;
  }
}
