.collection {
  background-color: var(--color-light);
  padding-top: 15px;
  &__wrapper {
    @include flex-all-sb;

    @include big-desktop {
      display: block;
    }
  }
  &__info {
    max-width: 390px;

    @include big-desktop {
      max-width: none;
      width: 80%;
      text-align: center;
      margin: 0 auto 30px;
    }
    @include small-tablet {
      width: 100%;
    }
    @include mobile {
      margin: 0 auto 20px;
    }
  }
  &__title {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: var(--color-cod);
    margin-bottom: 37px;

    @include tablet {
      font-size: 30px;
      line-height: 40px;
    }
    @include mobile {
      font-size: 25px;
      line-height: 35px;
    }
    @include mobile {
      margin-bottom: 15px;
    }
  }
  &__link {
    position: relative;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-text);
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -24px;
      width: 16px;
      height: 15px;
      background-image: url("../img/arrow.svg");

      @include bg-cover;
    }

    @include mobile {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__images {
    display: flex;
    flex-shrink: 0;

    @include big-desktop {
      justify-content: center;
    }
    @include small-tablet {
      overflow-x: scroll;
      justify-content: inherit;
    }
  }
  &__item {
    border-radius: 4px;
    &--1 {
      background-color: #f6ede8;
    }
    &--2 {
      background-color: #f0f1f6;
    }
    &--3 {
      background-color: #f6ede8;
    }
    &:not(:last-child) {
      margin-right: 24px;
    }

    @include tablet {
      flex-shrink: 0;
    }
  }
  &__element {
    display: inline-block;
    padding: 22px 28px;

    @include small-tablet {
      padding: 15px;
    }
  }
  &__img {
    @include mobile {
      width: 140px;
      height: 140px;
    }
  }

  @include tablet {
    padding-top: 0;
  }
}
