.footer {
  background-color: var(--color-light);
  padding-bottom: 96px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;

    @include big-desktop {
      padding: 0;
    }
    @include tablet {
      flex-wrap: wrap;
    }
  }
  &__division {
    margin-right: 201px;

    @include big-desktop {
      margin-right: 0;
    }
    @include tablet {
      width: 100%;
      order: 1;
    }
  }
  &__logo {
    margin-bottom: 35px;

    @include mobile {
      margin-bottom: 20px;
    }
  }
  &__logo-img {
    vertical-align: middle;
  }
  &__descr {
    max-width: 310px;
    margin-bottom: 22px;

    @include mobile {
      max-width: none;
    }
  }
  &__list {
    @include tablet {
      margin-bottom: 35px;
    }
    @include mobile {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__navigation {
    margin-right: 115px;

    @include big-desktop {
      margin-right: 0;
    }
  }
  &__about {
    margin-right: 115px;

    @include big-desktop {
      margin-right: 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-cod);
    margin-bottom: 24px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 21px;
    color: var(--color-scorpion);
    transition: color 0.3s;
    &:hover {
      color: var(--color-accent);
    }
  }

  @include tablet {
    padding-bottom: 75px;
  }
  @include small-tablet {
    padding-bottom: 50px;
  }
}
