.footer {
  background-color: var(--color-light);
  padding-bottom: 96px;
  &__wrapper {
    display: flex;
    padding-top: 8px;
  }
  &__division {
    margin-right: 201px;
  }
  &__logo {
    margin-bottom: 35px;
  }
  &__logo-img {
    vertical-align: middle;
  }
  &__descr {
    max-width: 310px;
    margin-bottom: 22px;
  }
  &__navigation {
    margin-right: 115px;
  }
  &__about {
    margin-right: 115px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-cod);
    margin-bottom: 24px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 21px;
    color: var(--color-scorpion);
    transition: color 0.3s;
    &:hover {
      color: var(--color-accent);
    }
  }
}
