.hero {
  background-color: var(--color-light);
  &__wrapper {
    position: relative;
  }
  &__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include big-desktop {
      position: static;
    }
  }
  &__info {
    position: relative;
    z-index: 1;
    width: 50%;
    padding-top: 53px;
    margin-right: auto;
    &::after {
      content: "";
      position: absolute;
      bottom: 13%;
      right: -13%;
      z-index: -1;
      width: 157px;
      height: 193px;
      transform: rotate(5deg);
      @include image-set("../img/leaf");

      background-position: center;
      background-repeat: no-repeat;

      @include big-desktop {
        right: 0;
      }
      @include mobile {
        display: none;
      }
    }

    @include big-desktop {
      width: 80%;
      text-align: center;
      padding: 0;
      margin: 0 auto 30px;
    }
    @include small-tablet {
      width: 100%;
    }
  }
  &__title {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    color: var(--color-cod);
    margin-bottom: 24px;

    @include tablet {
      font-size: 50px;
      line-height: 65px;
    }
    @include mobile {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 15px;
    }
  }
  &__descr {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 30px;
    }
    @include mobile {
      margin-bottom: 20px;
    }
  }
  &__btn {
    display: inline-block;
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 30px;
    }
  }
  &__achievements {
    width: 95%;
    display: flex;
    justify-content: space-between;

    @include big-desktop {
      width: 75%;
      margin: 0 auto;
    }
    @include tablet {
      width: 100%;
    }
    @include mini-mobile {
      flex-direction: column;
    }
  }
  &__figure {
    @include mobile {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__number {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: var(--color-fir);
    margin-bottom: 10px;

    @include mobile {
      font-size: 30px;
      line-height: 40px;
    }
  }
  &__category {
    font-size: 18px;
    line-height: 23px;
    color: var(--color-cod);

    @include mobile {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__image {
    width: 50%;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 88px;

    @include big-desktop {
      width: 100%;
      padding-left: 0;
      margin-left: 0;
    }
  }
  &__img {
    @include tablet {
      width: 500px;
      height: 650px;
    }
    @include mobile {
      width: 100%;
      height: 350px;
    }
  }
  &__photo {
    position: relative;
    width: max-content;

    @include big-desktop {
      margin: 0 auto;
    }
  }
  &__point {
    position: absolute;
    z-index: 5;
    @include flex-v-center;

    &--1 {
      top: 10%;
      right: -11%;
      .hero__circle {
        &:after {
          left: 50%;
        }
      }
      @include tablet {
        right: -17%;
      }
      @include small-tablet {
        right: -2%;
      }
      @include mobile {
        right: 21%;
        .hero__point-content {
          margin-left: 0;
          margin-right: 41px;
        }
        .hero__circle {
          order: 1;
          &:after {
            right: 50%;
            left: auto;
          }
        }
      }
    }
    &--2 {
      top: 24%;
      left: -12%;
      .hero__circle {
        order: 1;
        &:after {
          right: 50%;
        }
      }
      .hero__point-content {
        margin-right: 114px;
        margin-left: 0;
        @include small-tablet {
          margin-right: 41px;
        }
      }
      @include tablet {
        top: 20%;
        left: -19%;
      }
      @include small-tablet {
        left: -4%;
      }
      @include mobile {
        top: 27%;
        left: 23%;
        .hero__point-content {
          order: 1;
          margin-right: 0;
          margin-left: 41px;
        }
        .hero__circle {
          &:after {
            left: 50%;
          }
        }
      }
    }
    &--3 {
      bottom: 16%;
      right: -16%;
      .hero__circle {
        &:after {
          left: 50%;
        }
      }
      @include tablet {
        right: -17%;
      }
      @include small-tablet {
        right: -2%;
      }
      @include mobile {
        right: 21%;
        .hero__point-content {
          margin-left: 0;
          margin-right: 41px;
        }
        .hero__circle {
          order: 1;
          &:after {
            right: 50%;
            left: auto;
          }
        }
      }
    }
  }
  &__circle {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    &::before {
      content: "";
      display: none;
    }
    &:after {
      content: "";
      visibility: hidden;
      transition: all 0.3s;
    }
    &--active {
      &:before {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        background-color: #f4c300;
        border-radius: 50%;
      }
      &::after {
        visibility: visible;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        width: 123px;
        height: 4px;
        background-color: #519a5a;

        @include small-tablet {
          width: 50px;
        }
      }
    }
  }
  &__point-content {
    position: relative;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-light);
    padding: 16px 32px;
    background-color: rgba(6, 111, 20, 0.7);
    visibility: hidden;
    margin-left: 114px;
    &--active {
      visibility: visible;
    }

    @include small-tablet {
      margin-left: 41px;
    }
    @include mobile {
      padding: 10px 25px;
    }
  }

  @include big-desktop {
    padding-top: 75px;
  }
  @include tablet {
    padding-top: 45px;
  }
  @include small-tablet {
    padding-top: 0;
  }
}
