.nav {
  &__list {
    @include flex-v-center;

    padding-left: 194px;

    @include tablet {
      @include flex-all-center;

      flex-direction: column;
      padding-left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 48px;

      @include tablet {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }
  }
  &__btns {
    display: none;

    @include tablet {
      display: flex;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 21px;
    color: var(--color-cod);
    transition: color 0.3s;
    &:hover {
      color: var(--color-accent);
    }
  }

  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    height: 100vh;
    background-color: var(--color-light);
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}
