<section class="about section-offset-big">
  <div class="container">
    <div class="about__wrapper">
      <div
        class="about__image"
        data-aos="fade-up"
        data-aos-delay="600"
        data-aos-duration="2000"
      >
        <div class="about__img-background"></div>
        <picture>
          <source srcset="img/about-img.avif" type="image/avif" />
          <source srcset="img/about-img.webp" type="image/webp" />
          <img
            class="about__img"
            loading="lazy"
            src="img/about-img.jpg"
            width="446"
            height="440"
            alt="Plant Image"
          />
        </picture>
      </div>
      <div
        class="about__info"
        data-aos="fade-up"
        data-aos-delay="600"
        data-aos-duration="2000"
      >
        <span class="about__label">About Us</span>
        <h2 class="section-title about__title">
          Continue to Develop to Became Global Company
        </h2>
        <p class="descr about__descr">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus totam
          nam tempora maxime delectus harum hic, id odit numquam accusamus
          sapiente doloribus laboriosam soluta accusantium nulla magni rerum
          odio itaque quo quis vero. Tempore velit laborum soluta, maiores quia
          fuga magni quibusdam voluptatem doloremque quae optio quis?
          Architecto, nobis doloribus?
        </p>
        <p class="about__inscription">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro,
          maiores nisi. Dolores sint neque deserunt.
        </p>
        <a class="btn about__link" href="#">Read More</a>
      </div>
    </div>
  </div>
</section>
