<section class="collection section-offset-big">
  <div class="container">
    <div class="collection__wrapper">
      <div class="collection__info">
        <h2 class="collection__title">
          We have lots of plants collection for you and your family
        </h2>
        <a class="collection__link" href="#">See all collection</a>
      </div>
      <ul class="list-reset collection__images">
        <li class="collection__item collection__item--1">
          <a class="collection__element" href="#">
            <picture>
              <source srcset="img/collection-1.avif" type="image/avif" />
              <source srcset="img/collection-1.webp" type="image/webp" />
              <img
                class="collection__img"
                loading="lazy"
                src="img/collection-1.png"
                width="163"
                height="163"
                alt="Plant Image"
              />
            </picture>
          </a>
        </li>
        <li class="collection__item collection__item--2">
          <a class="collection__element" href="#">
            <picture>
              <source srcset="img/collection-2.avif" type="image/avif" />
              <source srcset="img/collection-2.webp" type="image/webp" />
              <img
                class="collection__img"
                loading="lazy"
                src="img/collection-2.png"
                width="163"
                height="163"
                alt="Plant Image"
              />
            </picture>
          </a>
        </li>
        <li class="collection__item collection__item--3">
          <a class="collection__element" href="#">
            <picture>
              <source srcset="img/collection-3.avif" type="image/avif" />
              <source srcset="img/collection-3.webp" type="image/webp" />
              <img
                class="collection__img"
                loading="lazy"
                src="img/collection-3.png"
                width="163"
                height="163"
                alt="Plant Image"
              />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
