<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__division">
        <a class="logo footer__logo" href="index.html">
          <img
            class="logo__img"
            src="img/logo.svg"
            alt="Logo"
            width="60"
            height="29"
          />
        </a>
        <p class="descr footer__descr">
          Lorem ipsum dolor sit amet, consectetur adi piscing elit. Diam nibh
          posuere duis eu non sit integer at placerat amet.
        </p>
        <ul class="list-reset social" title="Social Network">
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="Our Facebook Page"
            >
              <img
                class="social__icon"
                src="img/facebook-logo.svg"
                alt="Facebook Icon"
                width="24"
                height="24"
              />
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="Our Twitter Page"
            >
              <img
                class="social__icon"
                src="img/twitter-logo.svg"
                alt="Twitter Icon"
                width="24"
                height="24"
              />
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="Our Instagram Page"
            >
              <img
                class="social__icon"
                src="img/instagram-logo.svg"
                alt="Instagram Icon"
                width="24"
                height="24"
              />
            </a>
          </li>
        </ul>
      </div>
      <ul class="list-reset footer__list footer__navigation">
        <li class="footer__title">Navigation</li>
        <li class="footer__item">
          <a class="footer__link" href="#">Home</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">About</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Help & Support</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Product</a>
        </li>
      </ul>
      <ul class="list-reset footer__list footer__about">
        <li class="footer__title">About Us</li>
        <li class="footer__item">
          <a class="footer__link" href="#">Contact</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Address</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Blog</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">About Us</a>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__title">Help</li>
        <li class="footer__item">
          <a class="footer__link" href="#">Coustomers Services</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">FAQs</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">We Are Hiring</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Returns</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
