<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="logo" href="index.html">
        <img
          class="logo__img"
          src="img/logo.svg"
          alt="Logo"
          width="60"
          height="29"
        />
      </a>
      <nav class="nav" title="Navigation" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>Services</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>About Us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>Blog</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>Contact</a>
          </li>
          <li class="nav__btns">
            <button class="btn-reset header__login">Login</button>
            <button class="btn-reset header__signup">Sing Up</button>
          </li>
        </ul>
      </nav>
      <div class="header__btns">
        <button class="btn-reset header__login">Login</button>
        <button class="btn-reset header__signup">Sing Up</button>
      </div>
      <button
        class="btn-reset burger"
        aria-label="Open Menu"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
