<section class="hero section-offset">
  <div class="hero__wrapper">
    <div class="hero__content">
      <div class="container hero__container">
        <div class="hero__info">
          <h1
            class="hero__title"
            data-aos="fade-right"
            data-aos-delay="300"
            data-aos-duration="2000"
          >
            Growing Beautiful Plants at Home
          </h1>
          <p
            class="descr hero__descr"
            data-aos="fade-right"
            data-aos-delay="500"
            data-aos-duration="2000"
          >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore
            quod esse culpa cupiditate perferendis, a in, autem quibusdam
            explicabo tempora error dolores officia natus accusantium nam itaque
            reiciendis id suscipit.
          </p>
          <a
            class="btn hero__btn"
            href="#"
            data-aos="fade-right"
            data-aos-delay="500"
            data-aos-duration="3000"
            >Learn More</a
          >
          <div class="hero__achievements">
            <div class="hero__figure">
              <div class="hero__number">
                <span class="hero__counter" data-target="2000"></span>+
              </div>
              <span class="hero__category">Delivery</span>
            </div>
            <div class="hero__figure">
              <div class="hero__number">
                <span class="hero__counter" data-target="1200"></span>+
              </div>
              <span class="hero__category">Customers</span>
            </div>
            <div class="hero__figure">
              <div class="hero__number">
                <span class="hero__counter" data-target="1000"></span>+
              </div>
              <span class="hero__category">Product</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__image">
      <div class="hero__photo">
        <picture>
          <source srcset="img/hero-img.avif" type="image/avif" />
          <source srcset="img/hero-img.webp" type="image/webp" />
          <img
            class="hero__img"
            loading="lazy"
            src="img/hero-img.png"
            width="557"
            height="719"
            alt="Plant Image"
          />
        </picture>
        <div
          class="hero__point hero__point--1"
          data-aos="fade-left"
          data-aos-delay="1600"
        >
          <div class="hero__circle" id="firstCircle"></div>
          <div class="hero__point-content" id="firstDescr">Cactus Thorn</div>
        </div>
        <div
          class="hero__point hero__point--2"
          data-aos="fade-left"
          data-aos-delay="1800"
        >
          <div class="hero__circle" id="secondCircle"></div>
          <div class="hero__point-content" id="secondDescr">Cactus stem</div>
        </div>
        <div
          class="hero__point hero__point--3"
          data-aos="fade-left"
          data-aos-delay="1900"
        >
          <div class="hero__circle" id="thirdCircle"></div>
          <div class="hero__point-content" id="thirdDescr">Plant Media</div>
        </div>
      </div>
    </div>
  </div>
</section>
