<section class="hero section-offset">
  <div class="hero__wrapper">
    <div class="hero__content">
      <div class="container hero__container">
        <div class="hero__info">
          <h1 class="hero__title">Growing Beautiful Plants at Home</h1>
          <p class="descr hero__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu, tempor,
            accumsan sit amet nunc cursus. Nec tristique at in erat lectus mas
            sa diam. Lectus elit, nulla elementum fringilla at.
          </p>
          <a class="btn hero__btn" href="#">Learn More</a>
          <div class="hero__achievements">
            <div class="hero__figure">
              <div class="hero__number">2000+</div>
              <span class="hero__category">Delivery</span>
            </div>
            <div class="hero__figure">
              <div class="hero__number">1200+</div>
              <span class="hero__category">Customers</span>
            </div>
            <div class="hero__figure">
              <div class="hero__number">1000+</div>
              <span class="hero__category">Product</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__image">
      <div class="hero__photo">
        <picture>
          <source srcset="img/hero-img.avif" type="image/avif" />
          <source srcset="img/hero-img.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/hero-img.png"
            class="hero__img"
            width="557"
            height="719"
            alt="Plant Image"
          />
        </picture>
        <div class="hero__point hero__point--1">
          <div class="hero__circle" id="firstCircle"></div>
          <div class="hero__point-content" id="firstDescr">Cactus Thorn</div>
        </div>
        <div class="hero__point hero__point--2">
          <div class="hero__circle" id="secondCircle"></div>
          <div class="hero__point-content" id="secondDescr">Cactus stem</div>
        </div>
        <div class="hero__point hero__point--3">
          <div class="hero__circle" id="thirdCircle"></div>
          <div class="hero__point-content" id="thirdDescr">Plant Media</div>
        </div>
      </div>
    </div>
  </div>
</section>
