<section class="instagram section-offset-big">
  <div class="container">
    <div class="instagram__wrapper">
      <h2 class="instagram__title">Follow Us on Instagram</h2>
      <p class="descr instagram__descr">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nemo
        repellat cupiditate autem incidunt a sunt, ipsa nostrum in minus?
      </p>
      <ul class="list-reset instagram__list">
        <li class="instagram__item">
          <a class="instagram__link" href="#">
            <picture>
              <source srcset="img/instagram-1.avif" type="image/avif" />
              <source srcset="img/instagram-1.webp" type="image/webp" />
              <img
                class="instagram__img"
                loading="lazy"
                src="img/instagram-1.jpg"
                width="231"
                height="241"
                alt="Plant Image"
              />
            </picture>
            <div class="instagram__overlay"></div>
          </a>
        </li>
        <li class="instagram__item">
          <a class="instagram__link" href="#">
            <picture>
              <source srcset="img/instagram-2.avif" type="image/avif" />
              <source srcset="img/instagram-2.webp" type="image/webp" />
              <img
                class="instagram__img"
                loading="lazy"
                src="img/instagram-2.jpg"
                width="231"
                height="241"
                alt="Plant Image"
              />
            </picture>
            <div class="instagram__overlay"></div>
          </a>
        </li>
        <li class="instagram__item">
          <a class="instagram__link" href="#">
            <picture>
              <source srcset="img/instagram-3.avif" type="image/avif" />
              <source srcset="img/instagram-3.webp" type="image/webp" />
              <img
                class="instagram__img"
                loading="lazy"
                src="img/instagram-3.jpg"
                width="231"
                height="241"
                alt="Plant Image"
              />
            </picture>
            <div class="instagram__overlay"></div>
          </a>
        </li>
        <li class="instagram__item">
          <a class="instagram__link" href="#">
            <picture>
              <source srcset="img/instagram-4.avif" type="image/avif" />
              <source srcset="img/instagram-4.webp" type="image/webp" />
              <img
                class="instagram__img"
                loading="lazy"
                src="img/instagram-4.jpg"
                width="231"
                height="241"
                alt="Plant Image"
              />
            </picture>
            <div class="instagram__overlay"></div>
          </a>
        </li>
        <li class="instagram__item">
          <a class="instagram__link" href="#">
            <picture>
              <source srcset="img/instagram-5.avif" type="image/avif" />
              <source srcset="img/instagram-5.webp" type="image/webp" />
              <img
                class="instagram__img"
                loading="lazy"
                src="img/instagram-5.jpg"
                width="231"
                height="241"
                alt="Plant Image"
              />
            </picture>
            <div class="instagram__overlay"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
