<section
  class="newsletter section-offset"
  data-aos="fade-up"
  data-aos-delay="400"
  data-aos-duration="2000"
>
  <div class="container">
    <div class="newsletter__container">
      <div class="newsletter__wrapper">
        <div class="newsletter__info">
          <h2 class="section-title newsletter__title">
            Subscribe Our Newsletter
          </h2>
          <p class="descr newsletter__descr">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            maiores molestias quo doloremque sapiente. Soluta?
          </p>
          <form class="newsletter__form" action="#">
            <input
              class="newsletter__input"
              type="email"
              placeholder="Enter mail..."
              required
            />
            <button class="btn-reset btn newsletter__btn" type="submit">
              Subscribe
            </button>
          </form>
        </div>
        <div class="newsletter__image">
          <picture>
            <source srcset="img/newsletter-img.avif" type="image/avif" />
            <source srcset="img/newsletter-img.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/newsletter-img.png"
              class="newsletter__img"
              width="262"
              height="356"
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
