<section class="product section-offset--big">
  <div class="container">
    <div class="product__wrapper">
      <h2 class="section-title product__title">Our Best Product</h2>
      <div class="tabs" data-tabs="products-tabs">
        <ul class="list-reset tabs__nav product__tabs">
          <li class="tabs__nav-item product__tab">
            <button
              class="btn-reset tabs__nav-btn product__tab-btn"
              type="button"
            >
              New Plants
            </button>
          </li>
          <li class="tabs__nav-item product__tab">
            <button
              class="btn-reset tabs__nav-btn product__tab-btn"
              type="button"
            >
              New Arrivals
            </button>
          </li>
          <li class="tabs__nav-item product__tab">
            <button
              class="btn-reset tabs__nav-btn product__tab-btn"
              type="button"
            >
              Sale
            </button>
          </li>
        </ul>
        <div class="tabs__content">
          <div class="tabs__panel">
            <ul class="list-reset product__list">
              <li class="product__element product__element--1">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-1.avif" type="image/avif" />
                    <source srcset="img/new-plant-1.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-1.png"
                      width=""
                      height="153"
                      alt="Outdoor Plant"
                    />
                  </picture>
                  <span class="product__name">Outdoor Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
              <li class="product__element product__element--2">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-2.avif" type="image/avif" />
                    <source srcset="img/new-plant-2.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-2.png"
                      width=""
                      height="153"
                      alt="Monstera Plant"
                    />
                  </picture>
                  <span class="product__name">Monstera Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
              <li class="product__element product__element--3">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-3.avif" type="image/avif" />
                    <source srcset="img/new-plant-3.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-3.png"
                      width=""
                      height="153"
                      alt="Pottel Plant"
                    />
                  </picture>
                  <span class="product__name">Pottel Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
              <li class="product__element product__element--4">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-4.avif" type="image/avif" />
                    <source srcset="img/new-plant-4.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-4.png"
                      width=""
                      height="153"
                      alt="Indoor Plant"
                    />
                  </picture>
                  <span class="product__name">Indoor Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
            </ul>
            <div class="product__btn-wrapper">
              <a class="btn product__btn" href="#">View All</a>
            </div>
          </div>
          <div class="tabs__panel">
            <ul class="list-reset product__list">
              <li class="product__element product__element--3">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-3.avif" type="image/avif" />
                    <source srcset="img/new-plant-3.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-3.png"
                      width=""
                      height="153"
                      alt="Lorem, ipsum"
                    />
                  </picture>
                  <span class="product__name">Lorem, ipsum</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
              <li class="product__element product__element--4">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-4.avif" type="image/avif" />
                    <source srcset="img/new-plant-4.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-4.png"
                      width=""
                      height="153"
                      alt="Indoor Plant"
                    />
                  </picture>
                  <span class="product__name">Indoor Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
              <li class="product__element product__element--1">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-1.avif" type="image/avif" />
                    <source srcset="img/new-plant-1.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-1.png"
                      width=""
                      height="153"
                      alt="Outdoor Plant"
                    />
                  </picture>
                  <span class="product__name">Outdoor Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
              <li class="product__element product__element--2">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-2.avif" type="image/avif" />
                    <source srcset="img/new-plant-2.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-2.png"
                      width=""
                      height="153"
                      alt="Lorem, ipsum"
                    />
                  </picture>
                  <span class="product__name">Lorem, ipsum</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
            </ul>
            <div class="product__btn-wrapper">
              <a class="btn product__btn" href="#">View All</a>
            </div>
          </div>
          <div class="tabs__panel">
            <ul class="list-reset product__list">
              <li class="product__element product__element--1">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-1.avif" type="image/avif" />
                    <source srcset="img/new-plant-1.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-1.png"
                      width=""
                      height="153"
                      alt="Outdoor Plant"
                    />
                  </picture>
                  <span class="product__name">Outdoor Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
              <li class="product__element product__element--4">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-4.avif" type="image/avif" />
                    <source srcset="img/new-plant-4.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-4.png"
                      width=""
                      height="153"
                      alt="Indoor Plant"
                    />
                  </picture>
                  <span class="product__name">Indoor Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
              <li class="product__element product__element--2">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-2.avif" type="image/avif" />
                    <source srcset="img/new-plant-2.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-2.png"
                      width=""
                      height="153"
                      alt="Monstera Plant"
                    />
                  </picture>
                  <span class="product__name">Monstera Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
              <li class="product__element product__element--3">
                <a class="product__link" href="#">
                  <picture>
                    <source srcset="img/new-plant-3.avif" type="image/avif" />
                    <source srcset="img/new-plant-3.webp" type="image/webp" />
                    <img
                      class="product__img"
                      loading="lazy"
                      src="img/new-plant-3.png"
                      width=""
                      height="153"
                      alt="Pottel Plant"
                    />
                  </picture>
                  <span class="product__name">Pottel Plant</span>
                  <div class="product__rating rate">
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                    <img
                      class="rate__star"
                      src="img/star.svg"
                      alt="Star Rating"
                      width="16"
                      height="15"
                    />
                  </div>
                  <span class="product__price">$50.00</span>
                </a>
              </li>
            </ul>
            <div class="product__btn-wrapper">
              <a class="btn product__btn" href="#">View All</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
