<section class="testimonials section-offset-big">
  <div class="container">
    <div class="testimonials__wrapper">
      <div class="testimonials__info">
        <h2 class="section-title testimonials__title">
          What Our Customers Says
        </h2>
        <p class="descr testimonials__descr">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias minima
          ad eveniet ea qui ratione perferendis ipsum quam voluptatibus velit
          nemo eligendi adipisci harum quos.
        </p>
        <div class="swiper testimonials__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide testimonial">
              <div class="testimonial__wrapper">
                <div class="testimonial__top">
                  <picture>
                    <source
                      srcset="img/testimonials-avatar-1.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="img/testimonials-avatar-1.webp"
                      type="image/webp"
                    />
                    <img
                      class="testimonial__avatar"
                      loading="lazy"
                      src="img/testimonials-avatar-1.jpg"
                      width="60"
                      height="60"
                      alt="Hasanul Islam Photo"
                    />
                  </picture>
                  <div class="testimonial__person">
                    <span class="testimonial__name">Hasanul Islam</span>
                    <span class="testimonial__position">Marketing CEO</span>
                  </div>
                </div>
                <p class="testimonial__descr">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Corrupti, nemo eum! Dolorum odio fuga totam quo voluptates
                  officiis pariatur voluptatibus?
                </p>
              </div>
            </div>
            <div class="swiper-slide testimonial">
              <div class="testimonial__wrapper">
                <div class="testimonial__top">
                  <picture>
                    <source
                      srcset="img/testimonials-avatar-2.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="img/testimonials-avatar-2.webp"
                      type="image/webp"
                    />
                    <img
                      class="testimonial__avatar"
                      loading="lazy"
                      src="img/testimonials-avatar-2.jpg"
                      width="60"
                      height="60"
                      alt="Jack Ford Photo"
                    />
                  </picture>
                  <div class="testimonial__person">
                    <span class="testimonial__name">Jack Ford</span>
                    <span class="testimonial__position">Marketing CEO</span>
                  </div>
                </div>
                <p class="testimonial__descr">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                  accusamus deserunt quod enim officia unde.
                </p>
              </div>
            </div>
            <div class="swiper-slide testimonial">
              <div class="testimonial__wrapper">
                <div class="testimonial__top">
                  <picture>
                    <source
                      srcset="img/testimonials-avatar-3.avif"
                      type="image/avif"
                    />
                    <source
                      srcset="img/testimonials-avatar-3.webp"
                      type="image/webp"
                    />
                    <img
                      class="testimonial__avatar"
                      loading="lazy"
                      src="img/testimonials-avatar-3.jpg"
                      width="60"
                      height="60"
                      alt="Emma Jones Photo"
                    />
                  </picture>
                  <div class="testimonial__person">
                    <span class="testimonial__name">Emma Jones</span>
                    <span class="testimonial__position">Marketing CEO</span>
                  </div>
                </div>
                <p class="testimonial__descr">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu,
                  tempor, accumsan sit amet nunc cursus. Nec tristique at in
                  erat lectus mas sa diam. Lectus elit.
                </p>
              </div>
            </div>
          </div>
          <button class="btn-reset testimonials__btn testimonials__prev">
            <img
              class="testimonials__arrow testimonials__prev-img"
              loading="lazy"
              src="img/slider-arrow.svg"
              width="10"
              height="7"
              alt="Slider Button Previous Arrow"
            />
          </button>
          <button class="btn-reset testimonials__btn testimonials__next">
            <img
              class="testimonials__arrow testimonials__next-img"
              loading="lazy"
              src="img/slider-arrow.svg"
              width="10"
              height="7"
              alt="Slider Button Next Arrow"
            />
          </button>
        </div>
      </div>
      <div class="testimonials__image">
        <picture>
          <source srcset="img/testimonials-img.avif" type="image/avif" />
          <source srcset="img/testimonials-img.webp" type="image/webp" />
          <img
            class="testimonials__img"
            loading="lazy"
            src="img/testimonials-img.jpg"
            width="602"
            height="430"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
